appName: custom-resource-example

# You can define custom resources under the customResources key
customResources:
  # Custom resources are supplied as strings containing resource manifests
  - |
    apiVersion: v1
    kind: ConfigMap
    metadata:
      name: example-resource
    data:
      example: config-value

  # Your custom resources can include template strings which are evaluated
  # the same way as any other Helm template
  - |
    apiVersion: v1
    kind: ConfigMap
    metadata:
      name: templated-resource
    data:
      name: {{ .Values.appName }}


# You can also define arbitrary key/value pairs and reference them in your
# custom resource templates
reference_domain: example.com
optional_resource:
  enabled: true
  size: large
fruit_colors:
  apple: red
  orange: orange
  pear: green

# You can also supply custom resources as values in a map using the
# customResourcesMap key
customResourcesMap:
  # The keys are arbitrary, but using a map allows including custom resources
  # from multiple values files
  example: |
    apiVersion: v1
    kind: ConfigMap
    metadata:
      name: other-resource
    data:
      domain: foo.{{ .Values.reference_domain }}

  # You can also have optional custom resources that get included (or not) based
  # on other values
  optional-example: |
    {{- if .Values.optional_resource.enabled }}
    apiVersion: v1
    kind: ConfigMap
    metadata:
      name: optional-example
    data:
      type: pizza
      config: |
        size: {{ .Values.optional_resource.size }}
        toppings:
          - cheese
          - olives
    {{- end }}

  # You can even use range to render multiple resources dynamically.
  # Make sure to include the document separator --- so that each one becomes
  # its own resource, otherwise you'll get an error
  range-example: |
    {{- range $fruit, $color := .Values.fruit_colors }}
    ---
    apiVersion: v1
    kind: ConfigMap
    metadata:
      name: example-{{ $fruit }}
    data:
      color: {{ $color }}
    {{- end }}
